/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

h1, h2, p {
  font-family: 'Roboto';
  margin-bottom: 10px;
  line-height: 1.5;
}

button {
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
}

button:hover {
  background-color: darken(white, 5);
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

#container {
  height: 100vh;
}

@mixin content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.prose {
  @include content;
  padding: 0 150px 0 150px;
  align-items: center;
  flex-flow: column;
}

.code-prose {
  @include content;
  align-items: center;
  flex-flow: row;
}

.code-prose .right {
  flex: 1;
}

.code-prose .left {
  flex-grow: 1;
  font-size: 20px;
  max-width: 50%;
}