/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_base.scss */
h1, h2, h3, p {
  font-family: 'Roboto';
  margin-bottom: 10px;
  line-height: 1.5;
}

/* line 9, ../sass/_base.scss */
button {
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
  border-width: thin;
}

/* line 19, ../sass/_base.scss */
button:hover {
  background-color: #f2f2f2;
}

/* line 23, ../sass/_base.scss */
h1 {
  font-size: 50px;
  font-weight: bold;
}

/* line 28, ../sass/_base.scss */
h2 {
  font-size: 36px;
}

/* line 32, ../sass/_base.scss */
h3 {
  font-size: 30px;
}

/* line 36, ../sass/_base.scss */
p {
  font-size: 20px;
}

/* line 40, ../sass/_base.scss */
pre {
  overflow: auto;
  line-height: 1.25;
}

/* line 3, ../sass/_layout.scss */
#container {
  height: 100vh;
}

/* line 9, ../sass/_module.scss */
.prose {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 150px 0 150px;
  align-items: center;
  flex-flow: column;
}

/* line 16, ../sass/_module.scss */
.code-prose {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row;
}

/* line 29, ../sass/_module.scss */
.code-prose .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 1;
  padding: 0 10px 0 10px;
}

/* line 35, ../sass/_module.scss */
.code-prose .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex-grow: 1;
  font-size: 20px;
  max-width: 50%;
  padding: 0 10px, 0, 10px;
  background-color: #f8f8f8;
  padding: 0 10px 0 10px;
}

/* line 12, ../sass/screen.scss */
span.demph {
  opacity: .3;
}

@keyframes pulse {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 135%;
  }
  100% {
    font-size: 100%;
  }
}
/* line 30, ../sass/screen.scss */
pre mark {
  opacity: 1;
  font-weight: bold;
  background-color: transparent;
  animation: 1s ease-in .25s pulse;
}
